USE [master]
GO
/****** Object:  Database [DT_KORAY_ACAROGLU]    Script Date: 18.05.2022 18:29:38 ******/
CREATE DATABASE [DT_KORAY_ACAROGLU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DT_KORAY_ACAROGLU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DT_KORAY_ACAROGLU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DT_KORAY_ACAROGLU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DT_KORAY_ACAROGLU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DT_KORAY_ACAROGLU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DT_KORAY_ACAROGLU]
GO
/****** Object:  User [SERVER ADMIN DT KORAY ACAROGLU]    Script Date: 18.05.2022 18:29:38 ******/
CREATE USER [SERVER ADMIN DT KORAY ACAROGLU] FOR LOGIN [SERVER ADMIN DT KORAY ACAROGLU] WITH DEFAULT_SCHEMA=[SERVER ADMIN DT KORAY ACAROGLU]
GO
/****** Object:  User [HASTA_KAYIT]    Script Date: 18.05.2022 18:29:38 ******/
CREATE USER [HASTA_KAYIT] FOR LOGIN [HASTA_KAYIT] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [SERVER ADMIN DT KORAY ACAROGLU]    Script Date: 18.05.2022 18:29:38 ******/
CREATE SCHEMA [SERVER ADMIN DT KORAY ACAROGLU]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IsimBulGetir]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_IsimBulGetir] (@Hasta_Ismi as nvarchar(250))
RETURNS nvarchar(100) AS
BEGIN
Declare @BulunanIsim as nvarchar(100)

Set @BulunanIsim =
(
SELECT SUM(ALINAN_UCRET) FROM HASTA_KAYITLARI 
INNER JOIN HASTALAR
ON
HASTA_KAYITLARI.HASTA_ID = HASTALAR.HASTA_ID

WHERE ADI_SOYADI = @Hasta_Ismi
)
RETURN @BulunanIsim
END
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Topla]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE FUNCTION [dbo].[FN_Topla](@sayi1 int, @sayi2 int)
Returns decimal(18,2)
AS
BEGIN
	DECLARE @toplam DECIMAL(18,2)
	SET @toplam = @sayi1 + @sayi2
	return @toplam
END
GO
/****** Object:  Table [dbo].[IMPLANT_STOK]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPLANT_STOK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMPLANT_MARKASI] [nvarchar](50) NULL,
	[IMPLANT_ÇAP] [decimal](18, 2) NULL,
	[IMPLANT_BOYU] [decimal](18, 2) NULL,
	[STOKTA_KALAN] [int] NULL,
	[SON_ALIS_TARIHI] [datetime] NULL,
	[ALIS_FIYATI_BIRIM] [decimal](18, 2) NULL,
	[SATIS_FIYATI_BIRIM] [decimal](18, 2) NULL,
	[SATICI_FIRMA] [nvarchar](50) NULL,
	[ILETISIM_BILGILERI] [nvarchar](20) NULL,
 CONSTRAINT [PK_IMPLANT_STOK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Kar_Hesapla5]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_Kar_Hesapla5] 
(
	@Marka nvarchar(50)
)
Returns TABLE
AS
RETURN
SELECT IMPLANT_MARKASI,SATIS_FIYATI_BIRIM-ALIS_FIYATI_BIRIM AS 'Birim başına kar', STOKTA_KALAN
FROM IMPLANT_STOK
WHERE IMPLANT_MARKASI = @Marka
GO
/****** Object:  Table [dbo].[HASTA_KAYITLARI]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HASTA_KAYITLARI](
	[KAYIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[HASTA_ID] [int] NULL,
	[ISLEM_ID] [int] NULL,
	[IMPLANT_ID] [int] NULL,
	[ISLEM_ADEDI] [int] NULL,
	[ISLEM_TARIHI] [date] NULL,
	[ALINAN_UCRET] [decimal](18, 2) NULL,
	[IMPLANT_BILGISI] [nvarchar](255) NULL,
	[UYGULANAN_NOKTA] [nvarchar](50) NULL,
 CONSTRAINT [PK_HASTA_KAYITLARI] PRIMARY KEY CLUSTERED 
(
	[KAYIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HASTALAR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HASTALAR](
	[HASTA_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADI_SOYADI] [nvarchar](50) NOT NULL,
	[MESLEGI] [nvarchar](50) NOT NULL,
	[CINSIYETI] [nchar](1) NOT NULL,
	[TELEFON_NUMARASI] [nvarchar](15) NOT NULL,
	[HASTA_SIKAYETI] [nvarchar](1000) NOT NULL,
	[SONRAKI_RANDEVUSU] [datetime] NOT NULL,
	[ALINAN_NOTLAR] [nvarchar](200) NOT NULL,
	[KULLANDIGI_ILACLAR] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_HASTALAR] PRIMARY KEY CLUSTERED 
(
	[HASTA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ISLEMLER]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ISLEMLER](
	[ISLEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[ISLEM_ADI] [nvarchar](50) NULL,
	[ALINACAK_UCRET] [decimal](18, 2) NULL,
 CONSTRAINT [PK_İSLEMLER] PRIMARY KEY CLUSTERED 
(
	[ISLEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[TARIHLER_ARASI_KAZANCI_GOSTER]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TARIHLER_ARASI_KAZANCI_GOSTER]
(
	@Baslangic_Tarihi date,
	@Bitis_Tarihi date
)

RETURNS TABLE
AS
RETURN
	SELECT  
		HASTALAR.ADI_SOYADI,
		ISLEMLER.ISLEM_ADI,
		ISLEM_TARIHI,
		ALINAN_UCRET
	FROM
		HASTA_KAYITLARI
INNER JOIN ISLEMLER
ON
ISLEMLER.ISLEM_ID = HASTA_KAYITLARI.ISLEM_ID
INNER JOIN HASTALAR
ON
HASTALAR.HASTA_ID = HASTA_KAYITLARI.HASTA_ID

WHERE ISLEM_TARIHI BETWEEN @Baslangic_Tarihi AND @Bitis_Tarihi
GO
/****** Object:  View [dbo].[TOTAL_HASTA_SAYISI]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TOTAL_HASTA_SAYISI]
AS
SELECT        COUNT(HASTA_ID) AS Expr1
FROM            dbo.HASTALAR
GO
/****** Object:  View [dbo].[TOTAL_IMPLANT_ADETI]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TOTAL_IMPLANT_ADETI]
AS
SELECT        IMPLANT_MARKASI AS Marka, SATICI_FIRMA AS [Satıcı Firma], SON_ALIS_TARIHI AS [Alınan Tarih], ALIS_FIYATI_BIRIM AS [Alış Fiyatı], SATIS_FIYATI_BIRIM AS [Satış Fiyatı], SUM(STOKTA_KALAN) AS [Stoktaki İmplantlar]
FROM            dbo.IMPLANT_STOK
GROUP BY IMPLANT_MARKASI, SATIS_FIYATI_BIRIM, SON_ALIS_TARIHI, ALIS_FIYATI_BIRIM, SATICI_FIRMA
HAVING        (SATIS_FIYATI_BIRIM >= '1500') AND (SON_ALIS_TARIHI = CONVERT(DATETIME, '2022-03-04 00:00:00', 102)) AND (ALIS_FIYATI_BIRIM < 650)
GO
/****** Object:  Table [dbo].[FREZLER]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FREZLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FREZ_TIPI] [nvarchar](50) NULL,
	[FREZ_BOYUTU] [decimal](18, 2) NULL,
	[FREZ_BOYUTU_MM] [nvarchar](20) NULL,
	[STOK] [int] NULL,
	[FREZ_LOKASYONU] [int] NULL,
 CONSTRAINT [PK_FREZLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MALZEME_STOK]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MALZEME_STOK](
	[MALZEME_ID] [int] IDENTITY(1,1) NOT NULL,
	[MALZEME_ADI] [nvarchar](50) NULL,
	[BOYUT] [nvarchar](50) NULL,
	[ZIRKONYUM_STOGU] [nvarchar](50) NULL,
	[KULLANIMDAKI_ZIRKONLAR] [int] NULL,
	[PMMA_STOGU] [int] NULL,
	[ALIS_FIYATI_ZIRKONYUM] [decimal](18, 2) NULL,
	[SATAN_FIRMA] [nvarchar](50) NULL,
 CONSTRAINT [PK_MALZEMELER] PRIMARY KEY CLUSTERED 
(
	[MALZEME_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECINE]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECINE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RECINE_ADI] [nvarchar](50) NULL,
	[STOK] [int] NULL,
	[KULLANIMDA_OLANLAR] [int] NULL,
	[FİRMA] [nvarchar](50) NULL,
	[ALIŞ_FİYATI] [decimal](18, 2) NULL,
	[İLETİŞİM BİLGİSİ] [nvarchar](20) NULL,
 CONSTRAINT [PK_RECINE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SILINEN_KAYIT_LOGLARI]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SILINEN_KAYIT_LOGLARI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HASTA_ID] [int] NULL,
	[ADI_SOYADI] [varchar](100) NULL,
	[MESLEGI] [varchar](100) NULL,
	[CINSIYETI] [nchar](1) NULL,
	[TELEFON_NUMARASI] [varchar](100) NULL,
	[HASTA_SIKAYETI] [varchar](100) NULL,
	[SONRAKI_RANDEVUSU] [datetime] NULL,
	[ALINAN_NOTLAR] [nvarchar](100) NULL,
	[KULLANDIGI_ILACLAR] [nvarchar](50) NULL,
	[log_islem] [varchar](10) NULL,
	[log_tarih] [datetime] NOT NULL,
	[log_olusturan] [varchar](100) NULL,
 CONSTRAINT [PK__SILINEN___3214EC278E6ECDA2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZIRKONYUM_BLOK_FIYATLARI]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZIRKONYUM_BLOK_FIYATLARI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOYUTLAR] [decimal](18, 2) NULL,
	[TIP] [nvarchar](50) NULL,
	[SATAN_FIRMA] [nvarchar](50) NULL,
	[PARA_BIRIMI] [nvarchar](20) NULL,
	[SATIS_FIYATI] [decimal](18, 2) NULL,
 CONSTRAINT [PK_ZIRKONYUM_SATICILAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FREZLER] ON 

INSERT [dbo].[FREZLER] ([ID], [FREZ_TIPI], [FREZ_BOYUTU], [FREZ_BOYUTU_MM], [STOK], [FREZ_LOKASYONU]) VALUES (1, N'ZIRKONYUM', CAST(0.60 AS Decimal(18, 2)), NULL, NULL, 10)
INSERT [dbo].[FREZLER] ([ID], [FREZ_TIPI], [FREZ_BOYUTU], [FREZ_BOYUTU_MM], [STOK], [FREZ_LOKASYONU]) VALUES (2, N'ZIRKONYUM', CAST(1.00 AS Decimal(18, 2)), N'16', 2, 2)
INSERT [dbo].[FREZLER] ([ID], [FREZ_TIPI], [FREZ_BOYUTU], [FREZ_BOYUTU_MM], [STOK], [FREZ_LOKASYONU]) VALUES (3, N'ZIRKONYUM', CAST(2.00 AS Decimal(18, 2)), N'16', 2, 1)
SET IDENTITY_INSERT [dbo].[FREZLER] OFF
GO
SET IDENTITY_INSERT [dbo].[HASTA_KAYITLARI] ON 

INSERT [dbo].[HASTA_KAYITLARI] ([KAYIT_ID], [HASTA_ID], [ISLEM_ID], [IMPLANT_ID], [ISLEM_ADEDI], [ISLEM_TARIHI], [ALINAN_UCRET], [IMPLANT_BILGISI], [UYGULANAN_NOKTA]) VALUES (3, 2, 1, NULL, NULL, CAST(N'1998-05-27' AS Date), CAST(1002.00 AS Decimal(18, 2)), NULL, N'11,23,25,27')
INSERT [dbo].[HASTA_KAYITLARI] ([KAYIT_ID], [HASTA_ID], [ISLEM_ID], [IMPLANT_ID], [ISLEM_ADEDI], [ISLEM_TARIHI], [ALINAN_UCRET], [IMPLANT_BILGISI], [UYGULANAN_NOKTA]) VALUES (4, 3, 4, NULL, 2, CAST(N'2012-01-01' AS Date), CAST(2482.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[HASTA_KAYITLARI] ([KAYIT_ID], [HASTA_ID], [ISLEM_ID], [IMPLANT_ID], [ISLEM_ADEDI], [ISLEM_TARIHI], [ALINAN_UCRET], [IMPLANT_BILGISI], [UYGULANAN_NOKTA]) VALUES (11, 12, 4, NULL, NULL, CAST(N'2022-07-03' AS Date), CAST(2578.86 AS Decimal(18, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[HASTA_KAYITLARI] OFF
GO
SET IDENTITY_INSERT [dbo].[HASTALAR] ON 

INSERT [dbo].[HASTALAR] ([HASTA_ID], [ADI_SOYADI], [MESLEGI], [CINSIYETI], [TELEFON_NUMARASI], [HASTA_SIKAYETI], [SONRAKI_RANDEVUSU], [ALINAN_NOTLAR], [KULLANDIGI_ILACLAR]) VALUES (1, N'ATAKAN ACAROGLU', N'ÖĞRENCİ', N'E', N'544-522-35-35', N'abbb', CAST(N'2111-12-31T20:00:00.000' AS DateTime), N'asdfghjk', N'* Kullanılan bir ilaç yok *')
INSERT [dbo].[HASTALAR] ([HASTA_ID], [ADI_SOYADI], [MESLEGI], [CINSIYETI], [TELEFON_NUMARASI], [HASTA_SIKAYETI], [SONRAKI_RANDEVUSU], [ALINAN_NOTLAR], [KULLANDIGI_ILACLAR]) VALUES (2, N'DENEME', N'ÖĞRENCİ', N'E', N'544-522-35-35', N'DİŞİ KIRILMIŞ', CAST(N'2022-01-17T00:00:00.000' AS DateTime), N'* Not yok *', N'* Kullanılan bir ilaç yok *')
INSERT [dbo].[HASTALAR] ([HASTA_ID], [ADI_SOYADI], [MESLEGI], [CINSIYETI], [TELEFON_NUMARASI], [HASTA_SIKAYETI], [SONRAKI_RANDEVUSU], [ALINAN_NOTLAR], [KULLANDIGI_ILACLAR]) VALUES (3, N'AHMET BILMEMNE', N'ŞOFÖR', N'E', N'544-522-35-35', N'DİŞİ ÇÜRÜMÜŞ', CAST(N'2022-06-04T00:00:00.000' AS DateTime), N'* Not yok *', N'* Kullanılan bir ilaç yok *')
SET IDENTITY_INSERT [dbo].[HASTALAR] OFF
GO
SET IDENTITY_INSERT [dbo].[IMPLANT_STOK] ON 

INSERT [dbo].[IMPLANT_STOK] ([ID], [IMPLANT_MARKASI], [IMPLANT_ÇAP], [IMPLANT_BOYU], [STOKTA_KALAN], [SON_ALIS_TARIHI], [ALIS_FIYATI_BIRIM], [SATIS_FIYATI_BIRIM], [SATICI_FIRMA], [ILETISIM_BILGILERI]) VALUES (1, N'NUCLEOSS-T6', CAST(3.50 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)), 7, CAST(N'2022-03-04T00:00:00.000' AS DateTime), CAST(458.00 AS Decimal(18, 2)), CAST(3500.00 AS Decimal(18, 2)), N'OZAN DEMIR', N'0554 594 11 28')
INSERT [dbo].[IMPLANT_STOK] ([ID], [IMPLANT_MARKASI], [IMPLANT_ÇAP], [IMPLANT_BOYU], [STOKTA_KALAN], [SON_ALIS_TARIHI], [ALIS_FIYATI_BIRIM], [SATIS_FIYATI_BIRIM], [SATICI_FIRMA], [ILETISIM_BILGILERI]) VALUES (2, N'NUCLEOSS-T6', CAST(3.50 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 32, CAST(N'2022-03-04T00:00:00.000' AS DateTime), CAST(458.00 AS Decimal(18, 2)), CAST(3500.00 AS Decimal(18, 2)), N'OZAN DEMIR', N'0554 594 11 28')
INSERT [dbo].[IMPLANT_STOK] ([ID], [IMPLANT_MARKASI], [IMPLANT_ÇAP], [IMPLANT_BOYU], [STOKTA_KALAN], [SON_ALIS_TARIHI], [ALIS_FIYATI_BIRIM], [SATIS_FIYATI_BIRIM], [SATICI_FIRMA], [ILETISIM_BILGILERI]) VALUES (3, N'NUCLEOSS-T6', CAST(3.50 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), 5, CAST(N'2022-03-04T00:00:00.000' AS DateTime), CAST(458.00 AS Decimal(18, 2)), CAST(3500.00 AS Decimal(18, 2)), N'OZAN DEMIR', N'0554 594 11 28')
SET IDENTITY_INSERT [dbo].[IMPLANT_STOK] OFF
GO
SET IDENTITY_INSERT [dbo].[ISLEMLER] ON 

INSERT [dbo].[ISLEMLER] ([ISLEM_ID], [ISLEM_ADI], [ALINACAK_UCRET]) VALUES (1, N'KANAL TEDAVİSİ', CAST(850.00 AS Decimal(18, 2)))
INSERT [dbo].[ISLEMLER] ([ISLEM_ID], [ISLEM_ADI], [ALINACAK_UCRET]) VALUES (2, N'DOLGU', CAST(350.00 AS Decimal(18, 2)))
INSERT [dbo].[ISLEMLER] ([ISLEM_ID], [ISLEM_ADI], [ALINACAK_UCRET]) VALUES (4, N'PORSELEN KÖPRÜ', CAST(1000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ISLEMLER] OFF
GO
SET IDENTITY_INSERT [dbo].[MALZEME_STOK] ON 

INSERT [dbo].[MALZEME_STOK] ([MALZEME_ID], [MALZEME_ADI], [BOYUT], [ZIRKONYUM_STOGU], [KULLANIMDAKI_ZIRKONLAR], [PMMA_STOGU], [ALIS_FIYATI_ZIRKONYUM], [SATAN_FIRMA]) VALUES (1, N'A1 MULTİ', N'98 X 14', N'6', NULL, 129, NULL, NULL)
INSERT [dbo].[MALZEME_STOK] ([MALZEME_ID], [MALZEME_ADI], [BOYUT], [ZIRKONYUM_STOGU], [KULLANIMDAKI_ZIRKONLAR], [PMMA_STOGU], [ALIS_FIYATI_ZIRKONYUM], [SATAN_FIRMA]) VALUES (3, N'A1 PRE', N'98 X 14', N'1', NULL, 127, NULL, NULL)
INSERT [dbo].[MALZEME_STOK] ([MALZEME_ID], [MALZEME_ADI], [BOYUT], [ZIRKONYUM_STOGU], [KULLANIMDAKI_ZIRKONLAR], [PMMA_STOGU], [ALIS_FIYATI_ZIRKONYUM], [SATAN_FIRMA]) VALUES (4, N'A1 MULTİ', N'98 X 16', N'4', 1, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MALZEME_STOK] OFF
GO
SET IDENTITY_INSERT [dbo].[RECINE] ON 

INSERT [dbo].[RECINE] ([ID], [RECINE_ADI], [STOK], [KULLANIMDA_OLANLAR], [FİRMA], [ALIŞ_FİYATI], [İLETİŞİM BİLGİSİ]) VALUES (1, N'ANY CUBİC BASİC WHİTE', 2, NULL, N'3 TE 3 TEKNOLOJİ', NULL, NULL)
INSERT [dbo].[RECINE] ([ID], [RECINE_ADI], [STOK], [KULLANIMDA_OLANLAR], [FİRMA], [ALIŞ_FİYATI], [İLETİŞİM BİLGİSİ]) VALUES (2, N'ANY CUBİC BASİC ?', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[RECINE] ([ID], [RECINE_ADI], [STOK], [KULLANIMDA_OLANLAR], [FİRMA], [ALIŞ_FİYATI], [İLETİŞİM BİLGİSİ]) VALUES (3, N'TEMP DENTAL LİGHT', 1, NULL, N'DENTAL K', NULL, NULL)
SET IDENTITY_INSERT [dbo].[RECINE] OFF
GO
SET IDENTITY_INSERT [dbo].[SILINEN_KAYIT_LOGLARI] ON 

INSERT [dbo].[SILINEN_KAYIT_LOGLARI] ([ID], [HASTA_ID], [ADI_SOYADI], [MESLEGI], [CINSIYETI], [TELEFON_NUMARASI], [HASTA_SIKAYETI], [SONRAKI_RANDEVUSU], [ALINAN_NOTLAR], [KULLANDIGI_ILACLAR], [log_islem], [log_tarih], [log_olusturan]) VALUES (1, 132, N'PROJEBITISI', N'meslek1', N'E', N'0544 522 35 35', N'Dişi ağrıyor', CAST(N'2022-03-07T12:15:00.000' AS DateTime), N'* Not Alınmadı *', N'* Kullanılan bir ilaç yok *', N'Delete', CAST(N'2022-05-02T16:08:36.637' AS DateTime), N'ATAKAN-ACAROĞLU')
INSERT [dbo].[SILINEN_KAYIT_LOGLARI] ([ID], [HASTA_ID], [ADI_SOYADI], [MESLEGI], [CINSIYETI], [TELEFON_NUMARASI], [HASTA_SIKAYETI], [SONRAKI_RANDEVUSU], [ALINAN_NOTLAR], [KULLANDIGI_ILACLAR], [log_islem], [log_tarih], [log_olusturan]) VALUES (2, 131, N'PROJEBITISI', N'meslek1', N'E', N'0544 522 35 35', N'Dişi ağrıyor', CAST(N'2022-03-07T12:15:00.000' AS DateTime), N'* Not Alınmadı *', N'* Kullanılan bir ilaç yok *', N'Delete', CAST(N'2022-05-02T16:08:48.497' AS DateTime), N'ATAKAN-ACAROĞLU')
SET IDENTITY_INSERT [dbo].[SILINEN_KAYIT_LOGLARI] OFF
GO
SET IDENTITY_INSERT [dbo].[ZIRKONYUM_BLOK_FIYATLARI] ON 

INSERT [dbo].[ZIRKONYUM_BLOK_FIYATLARI] ([ID], [BOYUTLAR], [TIP], [SATAN_FIRMA], [PARA_BIRIMI], [SATIS_FIYATI]) VALUES (1, CAST(14.00 AS Decimal(18, 2)), N'PRE', N'BAHAR DENTAL', N'EURO', NULL)
INSERT [dbo].[ZIRKONYUM_BLOK_FIYATLARI] ([ID], [BOYUTLAR], [TIP], [SATAN_FIRMA], [PARA_BIRIMI], [SATIS_FIYATI]) VALUES (2, CAST(14.00 AS Decimal(18, 2)), N'PRE', N'DENTAL K', N'EURO', NULL)
INSERT [dbo].[ZIRKONYUM_BLOK_FIYATLARI] ([ID], [BOYUTLAR], [TIP], [SATAN_FIRMA], [PARA_BIRIMI], [SATIS_FIYATI]) VALUES (3, CAST(14.00 AS Decimal(18, 2)), N'PRE', N'FUSYON', N'EURO', CAST(35.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ZIRKONYUM_BLOK_FIYATLARI] OFF
GO
ALTER TABLE [dbo].[HASTALAR] ADD  CONSTRAINT [DF__HASTALAR__ALINAN__14E61A24]  DEFAULT ('* Not Alınmadı *') FOR [ALINAN_NOTLAR]
GO
ALTER TABLE [dbo].[HASTALAR] ADD  CONSTRAINT [DF__HASTALAR__KULLAN__15DA3E5D]  DEFAULT ('* Kullanılan bir ilaç yok *') FOR [KULLANDIGI_ILACLAR]
GO
ALTER TABLE [dbo].[SILINEN_KAYIT_LOGLARI] ADD  CONSTRAINT [DF__SILINEN_K__KULLA__2AA05119]  DEFAULT ((0)) FOR [KULLANDIGI_ILACLAR]
GO
ALTER TABLE [dbo].[SILINEN_KAYIT_LOGLARI] ADD  CONSTRAINT [DF__SILINEN_K__log_t__2B947552]  DEFAULT (getdate()) FOR [log_tarih]
GO
ALTER TABLE [dbo].[HASTA_KAYITLARI]  WITH CHECK ADD  CONSTRAINT [FK_HASTA_KAYITLARI_HASTALAR] FOREIGN KEY([HASTA_ID])
REFERENCES [dbo].[HASTALAR] ([HASTA_ID])
GO
ALTER TABLE [dbo].[HASTA_KAYITLARI] CHECK CONSTRAINT [FK_HASTA_KAYITLARI_HASTALAR]
GO
ALTER TABLE [dbo].[HASTA_KAYITLARI]  WITH CHECK ADD  CONSTRAINT [FK_HASTA_KAYITLARI_IMPLANT_STOK] FOREIGN KEY([IMPLANT_ID])
REFERENCES [dbo].[IMPLANT_STOK] ([ID])
GO
ALTER TABLE [dbo].[HASTA_KAYITLARI] CHECK CONSTRAINT [FK_HASTA_KAYITLARI_IMPLANT_STOK]
GO
ALTER TABLE [dbo].[HASTA_KAYITLARI]  WITH CHECK ADD  CONSTRAINT [FK_HASTA_KAYITLARI_ISLEMLER] FOREIGN KEY([ISLEM_ID])
REFERENCES [dbo].[ISLEMLER] ([ISLEM_ID])
GO
ALTER TABLE [dbo].[HASTA_KAYITLARI] CHECK CONSTRAINT [FK_HASTA_KAYITLARI_ISLEMLER]
GO
ALTER TABLE [dbo].[HASTALAR]  WITH CHECK ADD  CONSTRAINT [CHK_AD_SOYADI] CHECK  ((upper([ADI_SOYADI])=([ADI_SOYADI]) collate Latin1_General_BIN2))
GO
ALTER TABLE [dbo].[HASTALAR] CHECK CONSTRAINT [CHK_AD_SOYADI]
GO
ALTER TABLE [dbo].[HASTALAR]  WITH CHECK ADD CHECK  ((NOT [ADI_SOYADI] like '%Ö,Ü,İ,Ş,Ç,Ğ%'))
GO
/****** Object:  StoredProcedure [dbo].[BUGUNUN_RANDEVULARINI_GOR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUGUNUN_RANDEVULARINI_GOR] ( 
@Bugünün_Tarihi datetime
)
AS
BEGIN 
SELECT * FROM HASTALAR WHERE SONRAKI_RANDEVUSU BETWEEN  @Bugünün_Tarihi+'00:00' AND @Bugünün_Tarihi + '23:59'
ORDER BY SONRAKI_RANDEVUSU ASC
END
GO
/****** Object:  StoredProcedure [dbo].[BUTUN_IMPLANTLARI_GOR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BUTUN_IMPLANTLARI_GOR]
AS
BEGIN
SELECT ID,IMPLANT_MARKASI,IMPLANT_ÇAP,IMPLANT_BOYU,STOKTA_KALAN FROM IMPLANT_STOK 
END
GO
/****** Object:  StoredProcedure [dbo].[CINSIYETEGOREAYIR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CINSIYETEGOREAYIR]
(
@Cinsiyeti char(1)
)
AS
BEGIN
SELECT * FROM HASTALAR WHERE CINSIYETI = @Cinsiyeti
END
GO
/****** Object:  StoredProcedure [dbo].[FREZLERI_GOR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FREZLERI_GOR]
AS
BEGIN
SELECT * FROM FREZLER 
END
GO
/****** Object:  StoredProcedure [dbo].[HASTANIN_GECMISINE_KAYIT_EKLE]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HASTANIN_GECMISINE_KAYIT_EKLE] (
@HastaID INT,
@IslemID INT,
@IslemTar datetime,
@IslemAdedi INT,
@Implant_ID INT,
@Uygulanan_Nokta nvarchar(50)
)

AS
BEGIN
DECLARE @ALINACAK_UCRET AS DECIMAL(18,2)

IF (@IslemID = 10)
BEGIN
	SELECT @ALINACAK_UCRET =SATIS_FIYATI_BIRIM*@IslemAdedi FROM IMPLANT_STOK WHERE IMPLANT_STOK.ID = @Implant_ID

	INSERT INTO HASTA_KAYITLARI (HASTA_ID, ISLEM_ID, ISLEM_TARIHI, ALINAN_UCRET,ISLEM_ADEDI,IMPLANT_ID,UYGULANAN_NOKTA)
	VALUES (@HastaID, @IslemID, @IslemTar, @ALINACAK_UCRET,@IslemAdedi,@Implant_ID,@Uygulanan_Nokta)

	print('Kayıt Eklendi ')
	-- Tanımlamalar
DECLARE @İmplantMarkası nvarchar(50)
DECLARE @İmplantBoyutu nvarchar(10)
DECLARE @Adet INT
DECLARE @Satıcı_Firma nvarchar(10)
DECLARE @Telefon nvarchar(30)

SELECT @Adet = STOKTA_KALAN-1 FROM IMPLANT_STOK WHERE ID = @Implant_ID
SELECT @İmplantMarkası = IMPLANT_MARKASI FROM IMPLANT_STOK WHERE ID = @Implant_ID
SELECT @Satıcı_Firma = SATICI_FIRMA FROM IMPLANT_STOK WHERE ID = @Implant_ID
SELECT @Telefon = ILETISIM_BILGILERI FROM IMPLANT_STOK WHERE ID = @Implant_ID
-- Tanımlamalar

-- 0 dan küçük olmaması için if bloğu tanımla

IF (@Implant_ID = 1) -- Dış kontrol
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))

IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =2)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i



IF (@Implant_ID =3)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =4)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =5)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =6)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =7)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =8)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =9)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i


IF (@Implant_ID =10)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =11)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =12)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =13)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =14)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =15)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =16)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =17)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =18)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =19)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =20)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =21)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =22)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =23)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =24)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =25)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =26)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =27)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =28)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =29)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =30)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =31)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =32)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =33)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =34)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =35)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =36)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =37)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =38)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =39)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =40)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =41)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =42)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =43)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =44)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =45)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =46)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =47)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =48)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =49)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

IF (@Implant_ID =50)
BEGIN
UPDATE IMPLANT_STOK SET STOKTA_KALAN = STOKTA_KALAN-1 WHERE IMPLANT_STOK.ID = @Implant_ID
print('Stoktan 1 adet düşüldü. ')
print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
print('İmplant Boyutu  : '+ CONVERT (nvarchar(20), @İmplantBoyutu))
IF (@Adet = 0) -- 0  olma durumu kontrol
	BEGIN
	print ('======== Stoktaki son implant kullanıldı ========')
	print ('======== STOK TÜKENDİ  ========')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
END -- 0 dan küçük olma durumu bitiş
ELSE IF (@Adet <=5 ) -- İç kontrol
	BEGIN
	print('--------------------------------------------------------------------')
	print( CONVERT (nvarchar(2) , @Adet) + ' adet kaldı stoğu yenileyin. ')
	print('İmplant Markası : '+ CONVERT (nvarchar(20), @İmplantMarkası))
	print('Firma adı : ' + CONVERT (nvarchar(20), @Satıcı_Firma))
	print('İletişim Bilgileri : '+CONVERT (nvarchar(20), @Telefon))
	print('--------------------------------------------------------------------')
END -- İçteki kontrolün end i
END -- Dıştaki kontrolün end i

END -- İşlem ID 10 un end i

ELSE IF (@IslemID BETWEEN 0 AND 9)
BEGIN
	SELECT @ALINACAK_UCRET = (ALINACAK_UCRET*@IslemAdedi) FROM ISLEMLER WHERE ISLEMLER.ISLEM_ID = @IslemID
	INSERT INTO HASTA_KAYITLARI (HASTA_ID, ISLEM_ID, ISLEM_TARIHI, ALINAN_UCRET,ISLEM_ADEDI)
	VALUES (@HastaID, @IslemID, @IslemTar, @ALINACAK_UCRET,@IslemAdedi)
	print('Kayıt Eklendi ')
END
ELSE 
BEGIN
print('Yanlış Giriş ')
END

END --Prosedür end i
GO
/****** Object:  StoredProcedure [dbo].[HASTANIN_GECMISINE_KAYIT_EKLE_IMPLANT_HARIC]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HASTANIN_GECMISINE_KAYIT_EKLE_IMPLANT_HARIC] (
@HastaID INT,
@IslemID INT,
@IslemTar datetime,
@IslemAdedi INT)
AS
DECLARE @ALINACAK_UCRET AS DECIMAL(18,2)
BEGIN
	SELECT @ALINACAK_UCRET = (ALINACAK_UCRET*@IslemAdedi) FROM ISLEMLER WHERE ISLEMLER.ISLEM_ID = @IslemID
	INSERT INTO HASTA_KAYITLARI (HASTA_ID, ISLEM_ID, ISLEM_TARIHI, ALINAN_UCRET,ISLEM_ADEDI)
	VALUES (@HastaID, @IslemID, @IslemTar, @ALINACAK_UCRET,@IslemAdedi)
	print('Kayıt eklendi ')
END
GO
/****** Object:  StoredProcedure [dbo].[HASTANIN_GECMISINI_GOR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------@@@@@@@@@@@@------------
CREATE PROCEDURE [dbo].[HASTANIN_GECMISINI_GOR] (
@Hasta_ID INT
)
AS
BEGIN
SELECT HASTALAR.HASTA_ID, HASTALAR.ADI_SOYADI,  ISLEM_ADI, ISLEM_ADEDI, ISLEM_TARIHI,ALINAN_UCRET,IMPLANT_STOK.IMPLANT_MARKASI,UYGULANAN_NOKTA
FROM HASTA_KAYITLARI

LEFT JOIN ISLEMLER 
ON HASTA_KAYITLARI.ISLEM_ID = ISLEMLER.ISLEM_ID

INNER JOIN HASTALAR
ON HASTA_KAYITLARI.HASTA_ID = HASTALAR.HASTA_ID

LEFT OUTER JOIN IMPLANT_STOK
ON HASTA_KAYITLARI.IMPLANT_ID = IMPLANT_STOK.ID

WHERE HASTALAR.HASTA_ID = @Hasta_ID
ORDER BY ISLEM_TARIHI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[HASTANIN_GECMISINI_GOR21]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HASTANIN_GECMISINI_GOR21] (
@Hasta_ID INT
)
AS
BEGIN

SELECT HASTALAR.HASTA_ID, HASTALAR.ADI_SOYADI, HASTA_KAYITLARI.ISLEM_ID, ISLEM_ADEDI, ISLEM_TARIHI, ALINAN_UCRET, IMPLANT_BILGISI
FROM HASTA_KAYITLARI 
FULL OUTER JOIN HASTALAR
ON HASTA_KAYITLARI.HASTA_ID = HASTALAR.HASTA_ID
WHERE HASTALAR.HASTA_ID = @Hasta_ID
ORDER BY ISLEM_TARIHI
ASC

END
GO
/****** Object:  StoredProcedure [dbo].[HASTANIN_GECMISINI_GORFULL]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HASTANIN_GECMISINI_GORFULL] (
@Hasta_ID INT
)
AS
BEGIN

SELECT HASTALAR.HASTA_ID, HASTALAR.ADI_SOYADI, HASTA_KAYITLARI.ISLEM_ID, ISLEM_ADEDI, ISLEM_TARIHI, ALINAN_UCRET, IMPLANT_BILGISI
FROM HASTA_KAYITLARI 
FULL OUTER JOIN HASTALAR
ON HASTA_KAYITLARI.HASTA_ID = HASTALAR.HASTA_ID
WHERE HASTALAR.HASTA_ID = @Hasta_ID
ORDER BY ISLEM_TARIHI
ASC

END
GO
/****** Object:  StoredProcedure [dbo].[HASTANIN_KISISEL_BILGILERINI_GOR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HASTANIN_KISISEL_BILGILERINI_GOR] ( 
@Hasta_Ismi NVARCHAR(100)
)
AS
BEGIN
SELECT * FROM HASTALAR WHERE ADI_SOYADI = @Hasta_Ismi
END
GO
/****** Object:  StoredProcedure [dbo].[NOT_GUNCELLE]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOT_GUNCELLE] (
@Hasta_ID INT,
@Alınan_Not NVARCHAR(255)
)
AS
BEGIN

IF (@Alınan_Not != '')
BEGIN
UPDATE HASTALAR SET ALINAN_NOTLAR = @Alınan_Not WHERE HASTA_ID = @Hasta_ID
END

ELSE IF (@Alınan_Not = '')
BEGIN
UPDATE HASTALAR SET ALINAN_NOTLAR = DEFAULT WHERE HASTA_ID = @Hasta_ID
END

END
GO
/****** Object:  StoredProcedure [dbo].[NUCLEUSLARI_GOR]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NUCLEUSLARI_GOR]
AS
BEGIN
SELECT ID,IMPLANT_MARKASI,IMPLANT_ÇAP,IMPLANT_BOYU,STOKTA_KALAN FROM IMPLANT_STOK WHERE IMPLANT_MARKASI LIKE '%NUCLEOSS-TORQ%'
SELECT ID,IMPLANT_MARKASI,IMPLANT_ÇAP,IMPLANT_BOYU,STOKTA_KALAN FROM IMPLANT_STOK WHERE IMPLANT_MARKASI LIKE '%NUCLEOSS-T6%'
END
GO
/****** Object:  StoredProcedure [dbo].[RANDEVU_GUNCELLE]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RANDEVU_GUNCELLE] (
@Hasta_ID INT,
@Yeni_Randevusu datetime
)
AS
BEGIN
UPDATE HASTALAR SET SONRAKI_RANDEVUSU = @Yeni_Randevusu WHERE HASTA_ID =  @Hasta_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SIKAYET_GUNCELLE]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SIKAYET_GUNCELLE] (
@Hasta_ID INT,
@Hasta_Şikayeti NVARCHAR(255)
)
AS
BEGIN

UPDATE HASTALAR SET HASTA_SIKAYETI = @Hasta_Şikayeti WHERE HASTA_ID = @Hasta_ID

END
GO
/****** Object:  StoredProcedure [dbo].[VIZEDENEMEPROCEDURE]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VIZEDENEMEPROCEDURE] 
(
@AdıSoyadı nvarchar(100),
@TelefonNo nvarchar(15)
)
AS
BEGIN
SELECT * FROM HASTALAR WHERE ADI_SOYADI = @AdıSoyadı AND TELEFON_NUMARASI = @TelefonNo
END
GO
/****** Object:  StoredProcedure [dbo].[YENI_HASTA_KAYDI_EKLE]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------@@@@@@@@@@@@------------
CREATE PROCEDURE [dbo].[YENI_HASTA_KAYDI_EKLE] (
@Adı_Soyadı nvarchar(100),
@Mesleği nvarchar(50),
@Cinsiyeti char(1),
@Telefon_No nvarchar(15),
@Şikayeti nvarchar(255),
@Randevu_Tar datetime,
@Alınan_Not nvarchar(250),
@Kullandığı_İlaçlar nvarchar(250)
)
AS
BEGIN

IF (@Kullandığı_İlaçlar = '' AND @Alınan_Not = '')
BEGIN
INSERT INTO HASTALAR (ADI_SOYADI,MESLEGI,CINSIYETI,TELEFON_NUMARASI,HASTA_SIKAYETI,SONRAKI_RANDEVUSU)
VALUES (@Adı_Soyadı, @Mesleği, @Cinsiyeti, @Telefon_No,@Şikayeti,@Randevu_Tar)
print('Kayıt Eklendi')
END

ELSE IF (@Kullandığı_İlaçlar = '' AND @Alınan_Not != '')
BEGIN
INSERT INTO HASTALAR (ADI_SOYADI,MESLEGI,CINSIYETI,TELEFON_NUMARASI,HASTA_SIKAYETI,SONRAKI_RANDEVUSU,ALINAN_NOTLAR)
VALUES (@Adı_Soyadı, @Mesleği, @Cinsiyeti, @Telefon_No,@Şikayeti,@Randevu_Tar,@Alınan_Not)
print('Kayıt Eklendi')
END

ELSE IF (@Alınan_Not = '' AND @Kullandığı_İlaçlar != '')
BEGIN
INSERT INTO HASTALAR (ADI_SOYADI,MESLEGI,CINSIYETI,TELEFON_NUMARASI,HASTA_SIKAYETI,SONRAKI_RANDEVUSU,KULLANDIGI_ILACLAR)
VALUES (@Adı_Soyadı, @Mesleği, @Cinsiyeti, @Telefon_No,@Şikayeti,@Randevu_Tar,@Kullandığı_İlaçlar)
print('Kayıt Eklendi')

END
END
GO
/****** Object:  StoredProcedure [dbo].[YENI_HASTA_KAYDI_EKLE_NOTSUZ]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[YENI_HASTA_KAYDI_EKLE_NOTSUZ]
(
@Adı_Soyadı nvarchar(100),
@Mesleği nvarchar(50),
@Cinsiyeti char(1),
@Telefon_No nvarchar(15),
@Şikayeti nvarchar(255),
@Randevu_Tar datetime,
@Kullandığı_İlaçlar nvarchar(1000)
)
AS
BEGIN
INSERT INTO HASTALAR (ADI_SOYADI,MESLEGI,CINSIYETI,TELEFON_NUMARASI,HASTA_SIKAYETI,SONRAKI_RANDEVUSU,KULLANDIGI_ILACLAR)
VALUES (@Adı_Soyadı, @Mesleği, @Cinsiyeti, @Telefon_No,@Şikayeti,@Randevu_Tar,@Kullandığı_İlaçlar)
END

GO
/****** Object:  StoredProcedure [dbo].[ZIRKONYUM_BLOK_FIYATLARINI_KONTROL_ET]    Script Date: 18.05.2022 18:29:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZIRKONYUM_BLOK_FIYATLARINI_KONTROL_ET] (
@Boyut decimal(18,2),
@Tip nvarchar(50) )
AS
BEGIN
SELECT * FROM ZIRKONYUM_BLOK_FIYATLARI WHERE BOYUTLAR = @Boyut and TIP = @Tip
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HASTALAR"
            Begin Extent = 
               Top = 6
               Left = 0
               Bottom = 239
               Right = 269
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1605
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 2145
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TOTAL_HASTA_SAYISI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TOTAL_HASTA_SAYISI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[23] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "IMPLANT_STOK"
            Begin Extent = 
               Top = 42
               Left = 437
               Bottom = 285
               Right = 774
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 11
         Width = 284
         Width = 1770
         Width = 2175
         Width = 2265
         Width = 1380
         Width = 1590
         Width = 2025
         Width = 2010
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 2370
         Alias = 2550
         Table = 1860
         Output = 1155
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 2355
         Filter = 2880
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TOTAL_IMPLANT_ADETI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TOTAL_IMPLANT_ADETI'
GO
USE [master]
GO
